LINGXING_API_HOST=http://121.41.4.126:3188
LINGXING_APP_ID=ak_8CW3MktzhMfAS
LINGXING_APP_SECRET=7tfj0N4Mg1JQ/AYJ0nonQw==
LINGXING_TOKEN_URL=http://121.41.4.126:3721/token
LINGXING_TOKEN_REQUEST_KEY=ak_8CW3MktzhMfAS
LINGXING_SSL_VERIFY=true
LINGXING_SID_LIST=1448,1446
LINGXING_DATA_TYPE=1
LINGXING_MODE=0
LINGXING_PAGE_SIZE=50
APP_TIMEZONE=Asia/Shanghai

DINGTALK_API_BASE_URL=https://api.dingtalk.com
DINGTALK_APP_KEY=
DINGTALK_APP_SECRET=
DINGTALK_ROBOT_CODE=
DINGTALK_USER_IDS=
PIP_INDEX_URL=https://pypi.tuna.tsinghua.edu.cn/simple
PIP_EXTRA_INDEX_URL=https://mirrors.aliyun.com/pypi/simple/
PIP_FALLBACK_INDEX_URL=https://pypi.org/simple
